# Default configuration file for SExtractor V1.2b14 - > 2.0
# EB 23/07/98
# (*) indicates parameters which can be omitted from this config file.

#-------------------------------- Catalog ------------------------------------


CATALOG_NAME    elg_i_test.sexcat		# name of the output catalog
CATALOG_TYPE    FITS_LDAC		# "NONE","ASCII_HEAD","ASCII","FITS_1.0"
						# or "FITS_LDAC"
						
PARAMETERS_NAME  /n/des/julia/DES_coadd/astro_config/sex.param2	# name of the file containing catalog contents

#----------------------  GET MATCHES

#ASSOC_NAME 	/n/des/julia/DES_coadd/elg/elgordo_i.list
#ASSOC_PARAMS 	2,3
#ASSOC_RADIUS 	2.0
#ASSOC_TYPE 	NEAREST
#ASSOCSELEC_TYPE MATCHED
#ASSOC_DATA 	2,3


#------------------------------- Extraction ----------------------------------

DETECT_TYPE		CCD			# "CCD" or "PHOTO" (*)
FLAG_IMAGE		flag.fits		# filename for an input FLAG-image
DETECT_MINAREA  6
DETECT_THRESH	1.5 			# <sigmas> or <threshold>,<ZP> in mag.arcsec-2
ANALYSIS_THRESH	1.5			# <sigmas> or <threshold>,<ZP> in mag.arcsec-2

FILTER		Y			# apply filter for detection ("Y" or "N")?
FILTER_NAME	/n/des/julia/DES_coadd/astro_config/sex.conv  	# name of the file containing the filter
STARNNW_NAME	/n/des/julia/DES_coadd/astro_config/sex.nnw 

DEBLEND_NTHRESH	32			# Number of deblending sub-thresholds
DEBLEND_MINCONT	0.005			# Minimum contrast parameter for deblending

CLEAN			Y			# Clean spurious detections? (Y or N)?
CLEAN_PARAM		1.0			# Cleaning efficiency

MASK_TYPE		CORRECT		# type of detection MASKing: can be one of
						# "NONE", "BLANK" or "CORRECT"

#------------------------------ Photometry -----------------------------------

PHOT_APERTURES  1.85   3.70   5.55   7.41  11.11   14.81   18.52   22.22   25.93   29.63   44.44  66.67  # MAG_APER aperture diameter(s) in pixels
PHOT_AUTOPARAMS	2.5, 3.5		# MAG_AUTO parameters: <Kron_fact>,<min_radius>
PHOT_PETROPARAMS 2.0, 3.5       # MAG_PETRO parameters: <Petrosian_fact>,
PHOT_AUTOAPERS   0.0,7.41        # <estimation>,<measurement> minimum apertures

SATUR_LEVEL     50000.0         # level (in ADUs) at which arises saturation
SATUR_KEY        SATURATE       # keyword for saturation level (in ADUs)

MAG_ZEROPOINT	 25		# magnitude zero-point
MAG_GAMMA		4.0			# gamma of emulsion (for photographic scans)
GAIN            0.0             # detector gain in e-/ADU
GAIN_KEY         GAIN           # keyword for detector gain in e-/ADU
PIXEL_SCALE      0            # size of pixel in arcsec (0=use FITS WCS info)

PSF_NMAX     1
#------------------------- Star/Galaxy Separation ----------------------------

SEEING_FWHM		0.90			# stellar FWHM in arcsec

#------------------------------ Background -----------------------------------

BACK_SIZE		256			# Background mesh: <size> or <width>,<height>
BACK_FILTERSIZE	3			# Background filter: <size> or <width>,<height>

BACKPHOTO_TYPE	GLOBAL		# can be "GLOBAL" or "LOCAL" (*)
#BACKPHOTO_THICK	24		#24	# thickness of the background LOCAL annulus (*)

#------------------------------ Check Image ----------------------------------

CHECKIMAGE_TYPE	NONE			# can be one of "NONE", "BACKGROUND",
						# "MINIBACKGROUND", "-BACKGROUND", "OBJECTS",
						# "-OBJECTS", "SEGMENTATION", "APERTURES",
						# or "FILTERED" (*)
CHECKIMAGE_NAME	seg.fits	# Filename for the check-image (*)

#--------------------- Memory (change with caution!) -------------------------

#MEMORY_OBJSTACK	8000			# number of objects in stack
#MEMORY_PIXSTACK	400000		# number of pixels in stack
#MEMORY_BUFSIZE	1024			# number of lines in buffer

MEMORY_OBJSTACK 2000            # number of objects in stack
MEMORY_PIXSTACK 2000000          # number of pixels in stack
MEMORY_BUFSIZE  1024            # number of lines in buffer

#MEMORY_OBJSTACK 4000            # number of objects in stack
#MEMORY_PIXSTACK 200000          # number of pixels in stack
#MEMORY_BUFSIZE  512           # number of lines in buffer

#----------------------------- Miscellaneous ---------------------------------

VERBOSE_TYPE	NORMAL		# can be "QUIET", "NORMAL" or "FULL" (*)
NTHREADS         0              # 1 single thread

#------------------------------- New Stuff -----------------------------------
RESCALE_WEIGHTS N 
WEIGHT_TYPE MAP_WEIGHT
BACK_TYPE 	AUTO
BACK_VALUE 	0
#INTERP_TYPE 	VAR_ONLY

